<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dark app</title>
    <style>
        *,
        *::after,
        *::before {
            box-sizing: border-box;
        }

        html {
            font-size: 14px;
        }

        html,
        body {
            padding: 0;
            margin: 0;
            font-family: sans-serif;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <script src="./build.js"></script>
</body>

</html>